.styledProgressInput {
    --progress-height: 8px;
    --progress-color: #b672ff;
    --progress-bg-color: #2e2e2e;
    
  
    margin: 0;
    width: 100%;
    height: var(--progress-height);
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: height 0.2s;
    background: linear-gradient( to right, var(--progress-color) var(--value), var(--progress-bg-color) var(--value));
    outline: none;
  }
  /*background: linear-gradient( to right, var(--progress-color) var(--value), var(--progress-bg-color) var(--value));
  background: transparent;
  -webkit-appearance: none;
  /*var(--value)*/
  
  .styledProgressInput:hover {
    --progress-height: 8px;
  }
  
  /* Стили для WebKit браузеров */
  
 .styledProgressInput::-webkit-slider-runnable-track {
    height: var(--progress-height);
    background: var(--progress-bg-color);
  }

  /*   должно окрашивать дорожку до ползунка и после в разный цвет, но почему-то не работает
  .styledProgressInput::-webkit-slider-runnable-track-piece:start {
    height: var(--progress-height);
    background: var(--progress-color);
  }

  .styledProgressInput::-webkit-slider-runnable-track-piece:end {
    height: var(--progress-height);
    background: var(--progress-bg-color);
  }*/
  
  .styledProgressInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 8px;
    border-radius: 5px;
    background: var(--progress-color);
    box-shadow: -1008px 0 0 1000px #654883;
  }
  
  /* Стили для Firefox */
  .styledProgressInput::-moz-range-track {
    background: var(--progress-bg-color);
    height: var(--progress-height);
  }
  
  .styledProgressInput::-moz-range-thumb {
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: var(--progress-color);
  }