.filterButton {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    margin-right: 10px;
    background-color: #181818;
    color: #ffffff;
}

.filterButton:not(:last-child) {
    margin-right: 10px;
}

.btnText:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    cursor: pointer;
}
  
.btnText:active {
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
}

.btnTextActiv{
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
}

.filterButtonBox{
    position: relative;
}

.filterModal{
    width:248px;
    height: auto; 
   border-radius: 12px;
   margin-top: 10px;
   padding: 34px;
   background-color: #313131;
   color: #ffffff;
   position: absolute;
}